.premium {
    max-width: 1136px;
    width: 100%;
    border: 1px solid #343434;
    border-radius: 32px;
    padding: 24px;

    .premium-banner {
        border-radius: 24px;
        width: 100%;
        min-height: 128px;
        background: linear-gradient(128.44deg, #65d46e 0.77%, #0b280d 100%);
        padding: 40px 32px;
        position: relative;
        overflow: hidden;

        .premium-banner_content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .premium-banner_content-title {
                font-size: 24px;
                max-width: 303px;
                font-weight: bold;
                line-height: 1;
                z-index: 2;
            }

            .premium-banner_content-button {
                min-width: 165px;
                height: 48px;
                background-color: white;
                border-radius: 200px;
                cursor: pointer;
                color: black;
                font-size: 16px;
                font-weight: bold;
                display: flex;
                padding: 16px 24px;
                align-items: center;
                justify-content: space-between;
                z-index: 2;

                img {
                    height: 12px;
                }
            }
        }

        .premium-banner_gradient {
            background: linear-gradient(to left, #0b280d 0%, rgba(11, 40, 13, 0) 100%);
            position: absolute;
            right: 0;
            width: 58%;
            height: 100%;
            top: 0;
            z-index: 1;
        }

        .premium-banner_background {
            position: absolute;
            top: -202px;
            left: 47%;
        }
    }

    @media (max-width: 834px) {
        max-width: 770px;

        .premium-banner_content-button {
            margin-left: 16px;
        }
    }

    @media (max-width: 375px) {
        max-width: 343px;

        .premium-banner {
            background: linear-gradient(128.44deg, #65d46e 0.77%, #0b280d 100%);
            padding: 40px 16px;

            .premium-banner_background {
                content: url(assets/images/banner-mobile.png);
                top: 79px;
                left: 161px;
            }

            .premium-banner_gradient {
                width: 100%;
                height: 73%;
                bottom: 0;
                top: auto;
                background: linear-gradient(to top, #0b280d 0.34%, rgba(11,40,13,0) 100.34%);
            }
            .premium-banner_content {
                align-items: flex-start;
                gap: 24px;
                flex-direction: column;

                .premium-banner_content-title {
                    width: auto;
                }

                .premium-banner_content-button {
                    margin-left: 0;
                }
            }
        }

    }
}